
.quote-container {
  color: white;
  width: 350px;
  font-size: 1.5em;
  bottom: 0;
  left: 0;
  text-shadow: 1px 0 black, 1px 1px black, 0 1px black, 0 0 black;
}

.quote-container>.author {
  color: #ABABAB;
  margin-left: 1.5em;
  margin-top: 15px;
}
.quote-container>.author:before {
  content: '\2014 ';
}